<!doctype html>

{% extends 'home.html' %}

{% load static %}

{% block main_content %}

<br/>
{% if perms.movie.add_movie  %}
<!--{{request.session.add_movie}}-->
<button class="button">
    <a href="/add_film" style="text-decoration-color: white" > Add Film </a>
</button>
{% endif %}

<div class="container-fluid">
    <h2>Phim dang chieu</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                {% for movie in movies_now %}
                  <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <a href="film/{{movie.id}}">
                            <img src="{{ movie.poster.url }}" class="card-img-top" alt="{{movie.title}}">
                        </a>
                        <div class="card-body">
                        <h5 class="card-title">{{movie.title}}</h5>
                        <p class="card-text">{{movie.description}}</p>
                           {% if perms.movie.change_movie  %}
<!--                            {{request.session.update_movie}}-->
                        <a href="/update_film/{{movie.id}}" class="btn btn-sm btn-warning">Update</a>
                        <a href="/delete_film/{{movie.id}}" class="btn btn-sm btn-danger">Delete</a>
                            {% endif %}

                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <h2>Phim sap chieu</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                {% for movie in movies_soon %}
                  <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <a href="film/{{movie.id}}">
                            <img src="{{ movie.poster.url }}" class="card-img-top" alt="{{movie.title}}">
                        </a>

                        <div class="card-body">
                        <h5 class="card-title">{{movie.title}}</h5>
                        <p class="card-text">{{movie.description}}</p>
                           {% if perms.movie.change_movie  %}
                        <a href="/update_film/{{movie.id}}" class="btn btn-sm btn-warning">Update</a>
                        <a href="/delete_film/{{movie.id}}" class="btn btn-sm btn-danger">Delete</a>
                            {% endif %}

                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}