
<!doctype html>

{% extends 'home.html' %}

{% load static %}

{% block main_content %}

    <main class="content">
        <div class="single">

            <section class="detail">
                <h3> {{movie.title}} </h3>
                <h4> Description:  {{movie.description}}</h4>
                <h4> Rating : {{movie.rating}}</h4>
            </section>

        </div>
    </main>

    <a href="{{movie.id}}/review_rating">
        <button> Add a comment </button>
    </a>

    <div>
        <h3>Review</h3>
        {% for review in reviews %}
        <h5> {{review.user}}</h5>
        <p> {{review.review}} </p>
        <p> {{review.rating}}</p>
        {% endfor %}
    </div>

{% endblock %}