<!DOCTYPE html>

{% extends 'home.html' %}

{ % load static %}


{% block main_content %}

<h1>Ticket Page</h1>
<h5>User : {{user.username}}</h5>

<h2 style="background-color: cornsilk">On Going</h2>
{% for b in ongoing_booking %}
     <a href="payment/{{b.id}}">
         <p> Booking id : {{ b.id }} </p>
     </a>
    <a href="ticket/delete_ticket/{{b.id}}" class="btn btn-sm btn-danger">Delete</a>

{% endfor %}


<h2 style="background-color: cornsilk">success</h2>
{% for b in success_booking %}
     <a href="ticket/payment_detail/{{b.id}}">
         <p> Booking id : {{ b.id }} </p>
     </a>
{% endfor %}





{% endblock %}